@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* SECTION */

.features {
    padding-block: 4.625rem 17.1875rem;
    padding-block: clamp(4.625rem, 2.73rem + 8.08vw, 10rem) clamp(17.1875rem, 15.54rem + 7.04vw, 21.875rem);

    &__container {
        text-align: center;

        .features__card {
            width: min(100%, f.rem(1230));
            border-radius: f.rem(16);
            padding: 4.25rem 1.5rem;
            padding: clamp(4.25rem, 4.12rem + 0.56vw, 4.625rem) clamp(1.5rem, -0.83rem + 9.95vw, 8.125rem);

            .features__content {
                width: min(100%, f.rem(500));

                h2 {
                    font-size: 1.375rem;
                    font-size: clamp(1.375rem, 0.8rem + 2.47vw, 2rem);
                    margin-bottom: f.rem(24);
                }
            }
        }
    }
}