@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */

/* HEADER DISPLAY */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN HERO DISPLAY */
.hero {
    &__display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.25rem;
        gap: clamp(4.25rem, 3.67rem + 2.47vw, 4.875rem);

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.5rem;
            gap: clamp(2.5rem, 1.92rem + 2.47vw, 3.125rem);
        }
    }

    // media query - 920px / large screen
    @include bp.breakpointMin(xlarge-screen) {
        &__display {
            flex-direction: row;
        }
    }
}

/* SECTION FEATURES DISPLAY */
.features {
    &__display {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: f.rem(45);

        .features__card:not(:nth-child(2)) {
            display: grid;
            gap: f.rem(74);
            grid-template-areas: 
                'features__image'
                'features__content'; 

            .features__image {
                grid-area: features__image;
            }

            .features__content {
                grid-area: features__content;
            }
        }

        .features__card:nth-child(2) {
            display: grid;
            gap: f.rem(74);
            grid-template-areas: 
                'features__image'
                'features__content'; 

            .features__image {
                grid-area: features__image;
            }

            .features__content {
                grid-area: features__content;
            }
        }
    }

    // media query - 920px - large screen
    @include bp.breakpointMin(large-screen) {
        &__display {

            .features__card:not(:nth-child(2)) {
                grid-template-areas: 
                    'features__content features__image';
            }

            .features__card:nth-child(2) {
                gap: f.rem(150);
                grid-template-areas: 
                    'features__image features__content';

                .features__image {
                    width: 130%;
                }
            }
        }
    }
}

.footer {
    .community {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2.75rem;
        gap: clamp(2.75rem, 2.3098591549295775rem + 1.8779342723004695vw, 4rem);
    }

    &__display {
        display: grid;
        grid-template-columns: 1fr;

        .info {
            .phone,
            .email {
                display: flex;
                align-items: center;
                gap: f.rem(16);
            }
        }

        .social-copyright {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: f.rem(16);

            .socials {
                display: flex;
                align-items: center;
                gap: f.rem(12);

                a {
                    display: grid;
                    place-items: center;
                }
            }
        }

        @include bp.breakpointMin(medium-screen) {
            grid-template-columns: repeat(4, 1fr);

            .social-copyright {
                align-items: unset;

                .copyright {
                    margin-top: auto;
                }
            }
        }
    }
}

.flex-group {
    display: flex;
    flex-direction: column;
    gap: f.rem(16);

    a {
        color: white;
    }
}

// temporary display
// .header,
// .hero,
// .features {
//     display: none;
// }